---
import type { GetStaticPaths } from 'astro';
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list.response';
import MainLayout from '@layouts/MainLayout.astro';
import Title from '@components/shared/Title.astro';


export const getStaticPaths = (async({paginate}) => {
	const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=386');
	const results = await resp.json() as PokemonListResponse;
	
	return paginate(results.results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const {page} = Astro.props;

const title = 'Pokedex Static | Home';
---

<MainLayout title={title}>
	<Title>Listado de Pokémon</Title>

	<section
		aria-label="Listado pokemon"
		class="grid grid-cols-2 sm:grid-cols-5 gap-4"
	>
		{
			page.data.map(
				({name, url}) => 
				<PokemonCard 
					name={name}
					url={url}
				/>
			)
		}
	</section>
	<section 
		class="flex mt-10 gap-2 justify-between items-center pb-10"
	>
		<div class="flex space-x-1">
			{
				page.url.first ? 
					<a 
						href={page.url.first} 
						class="bg-blue-500 p-2 text-white rounded-md capitalize"
					>
						primera
					</a> 
				: null
			}
			{
				page.url.prev ? 
					<a 
						href={page.url.prev}
						class="bg-blue-500 p-2 text-white rounded-md capitalize"
					>
						anterior
					</a> 
				: null
			}
			{
				page.url.next ? 
					<a 
						href={page.url.next}
						class="bg-blue-500 p-2 text-white rounded-md capitalize"
					>
						siguiente
					</a> 
				: null
			}
			{
				page.url.last ? 
					<a 
						href={page.url.last}
						class="bg-blue-500 p-2 text-white rounded-md capitalize"
					>
						última
					</a> 
				: null
			}
		</div>
	
		<span>Página {page.currentPage}</span>
	</section>
</MainLayout>